/* Roboto regular */
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: local("Helvetica Neue Cyr"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.eot") format("eot");
  font-display: swap;
}
/* Roboto medium */
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: local("Helvetica Neue Cyr"), url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.eot") format("eot");
  font-display: swap;
}
/* Poppins regular */
@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  src: local("Helvetica Neue Cyr"), url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.eot") format("eot");
  font-display: swap;
}
/* Poppins medium */
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-style: normal;
  src: local("Helvetica Neue Cyr"), url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.eot") format("eot");
  font-display: swap;
}
/* Poppins bold */
@font-face {
  font-family: "Poppins";
  font-weight: 700;
  font-style: normal;
  src: local("Helvetica Neue Cyr"), url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins-Bold.eot") format("eot");
  font-display: swap;
}
* {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.btn-filled {
  display: block;
  background: #e27b3a;
  border-radius: 24px;
  color: #fff;
  padding: 12px 30px;
  transition: all 0.3s;
}
.btn-filled:hover {
  transform: scale(1.1);
}

.btn-empty {
  display: block;
  border: 1px solid #e27b3a;
  padding: 11px 29px;
  color: #e27b3a;
  border-radius: 24px;
  transition: all 0.3s;
}
.btn-empty:hover {
  transform: scale(1.1);
}

.btn-link {
  display: block;
  color: #e27b3a;
}
.btn-link:hover {
  text-decoration: underline;
}

.btn-empty2 {
  display: block;
  border: 1px solid #fbebe2;
  padding: 11px 29px;
  color: #e27b3a;
  border-radius: 4px;
  transition: all 0.3s;
  text-align: center;
}
.btn-empty2:hover {
  transform: scale(1.1);
}

.titlebox {
  text-align: center;
}
.titlebox h2 {
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  color: #170c04;
}
.titlebox p {
  color: #170c04;
  opacity: 0.6;
}

.title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.4;
  color: #170c04;
}

.tag {
  font-weight: 500;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #e27b3a;
}

.text {
  color: #170c04;
  opacity: 0.6;
}

.header {
  padding-bottom: 137px;
  position: relative;
}
.header::before {
  content: "";
  width: 1101px;
  height: 785px;
  position: absolute;
  top: 0;
  right: 0;
  background: url("../img/header/puppy-background1.jpg") no-repeat;
  z-index: -1;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 40px;
}

.header__logo {
  transition: all 0.3s;
}
.header__logo:hover {
  transform: scale(1.2);
}

.header__nav-list {
  display: flex;
}

.header__nav-item {
  margin-right: 55px;
}
.header__nav-item:last-child {
  margin: 0;
}
.header__nav-item a {
  color: #170c04;
  font-weight: 500;
}
.header__nav-item a:hover {
  text-decoration: underline;
}

.header__widgets {
  display: flex;
}

.header__widgets-item {
  margin-right: 40px;
}
.header__widgets-item:last-child {
  margin: 0;
}
.header__widgets-item:hover svg path,
.header__widgets-item:hover line {
  stroke: #e27b3a;
}

.header__content {
  margin-top: 118px;
  max-width: 613px;
}

.header__title {
  font-weight: 700;
  font-size: 100px;
  line-height: 1.2;
}

.header__btn-box {
  display: flex;
  margin-top: 119px;
}

.header__btn-buy {
  margin-right: 20px;
}

.feed {
  padding: 130px 0 125px;
}

.feed__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feed__card {
  padding: 40px 25px 18px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  margin-right: 30px;
  position: relative;
}
.feed__card:last-child {
  margin: 0;
}
.feed__card::before {
  content: "";
  width: 63px;
  height: 54px;
  position: absolute;
  top: -31px;
  left: 50%;
  transform: translateX(-50%);
}

.feed__card--one::before {
  background: url("../img/meal/1.svg");
}

.feed__card--two::before {
  height: 55px;
  background: url("../img/meal/2.svg");
}

.feed__card--three::before {
  background: url("../img/meal/3.svg");
}

.feed__card-title {
  font-size: 25px;
  color: #170c04;
  line-height: 1.52;
  max-width: 288px;
  margin: 0 auto;
}

.feed__card-text {
  color: #170c04;
  opacity: 0.6;
  margin-top: 11px;
}

.feed__card-link {
  margin-top: 24px;
}

.products__titlebox {
  max-width: 505px;
  margin: 0 auto;
}
.products__titlebox h2 {
  margin-bottom: 18px;
}

.products__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 25px;
  row-gap: 66px;
}

.product__card {
  text-align: center;
}
.product__card .product__card-img {
  border-radius: 10px;
}

.product__card--big .product__card-img {
  border-radius: 20px;
}

.product__card-title {
  margin-top: 25px;
  font-weight: 500;
  font-size: 25px;
  color: #170c04;
}

.product__card-link {
  margin-top: 9px;
}

.product__btn {
  max-width: 185px;
  margin: 46px auto 0;
}

.care {
  padding-top: 58px;
}

.care__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.care__tag {
  margin-bottom: 4px;
}

.care__title {
  margin-bottom: 18px;
}

.care__text {
  margin-bottom: 40px;
}

.care__btnbox {
  display: flex;
}

.care__btn {
  margin-right: 30px;
}
.care__btn:last-child {
  margin: 0;
}

.work {
  padding-top: 86px;
}

.work__title {
  text-align: center;
}

.work__inner {
  margin: 36px 0 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.work__card {
  text-align: center;
}

.work__card-img {
  margin-bottom: 51px;
}

.work__card-title {
  margin-bottom: 22px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  color: #170c04;
}

.work__card-text {
  margin-bottom: 15px;
}

.work__btn {
  max-width: 131px;
  margin: 0 auto;
}

.gallery {
  padding-top: 120px;
}

.gallery__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 31px;
       column-gap: 31px;
}

.gallery__titlebox {
  margin-bottom: 26px;
}
.gallery__titlebox h2 {
  margin-bottom: 12px;
}

.gallert__left-inner {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gallery__left-img {
  border-radius: 5px;
}

.gallery__right-img {
  border-radius: 10px;
}

.testimonials {
  padding: 120px 0 49px;
}

.testimonials__title {
  text-align: center;
  margin-bottom: 22px;
}

.testimonials__inner {
  position: relative;
  display: flex;
}

.testimonials__slider-wrapper {
  max-width: 551px;
  margin: 0 auto;
}

.testimonials__slide {
  padding: 30px 30px 21px;
  text-align: center;
  max-width: 555px;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  background: #fff;
  position: relative;
}
.testimonials__slide::before {
  content: "";
  width: 41px;
  height: 37px;
  opacity: 0.1;
  position: absolute;
  top: 28px;
  left: 30px;
  background: url("../img/testimonials/quote-top.svg");
}
.testimonials__slide::after {
  content: "";
  width: 41px;
  height: 37px;
  opacity: 0.1;
  position: absolute;
  bottom: 28px;
  right: 30px;
  background: url("../img/testimonials/quote-bottom.svg");
}

.testimonials__slide-avatar {
  margin-bottom: 20px;
}

.testimonials__slide-text {
  margin-bottom: 20px;
  color: #170c04;
  opacity: 0.7;
}

.testimonials__slide-rating {
  margin-bottom: 23px;
}

.testimonials__slide-position {
  color: #170c04;
  font-size: 12px;
  line-height: 2;
  opacity: 0.6;
}

.testimonials__slider-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: 50px;
  right: 239px;
}

.testimonial__slide-prev {
  margin-bottom: 10px;
}

.testimonial__slide-prev:hover g,
.testimonials__slider-next:hover g {
  opacity: 1;
}

.feedback {
  padding: 37px 0 70px;
}

.feedback__inner {
  background: url("../img/feedback-bcg.svg") no-repeat;
  border-radius: 10px;
  padding: 102px 64.56px 102px 69px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feedback__text {
  max-width: 423px;
}
.feedback__text .feedback__title {
  font-weight: 500;
  font-size: 31px;
  line-height: 1.2992;
  color: #fff;
}
.feedback__text .feedback__subtitle {
  margin-top: 17.9px;
  opacity: 0.7;
  color: #fff;
}

.feedback__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feedback__label {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 15px 21px;
  width: 400px;
  border-top-left-radius: 10px;
  border-end-start-radius: 10px;
}

.feedback__email {
  background: #fff;
  width: 100%;
  padding-right: 15px;
  font-size: 14px;
}

.feedback__btn {
  background: #e27b3a;
  font-weight: 500;
  font-size: 18px;
  line-height: 2.25556;
  text-align: center;
  color: #fff;
  border-top-right-radius: 10px;
  border-end-end-radius: 10px;
  padding: 5px 25px;
}

.footer {
  padding: 35px 0 105px;
  background: url("../img/footer-bcg.svg") no-repeat;
  background-size: cover;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__col {
  margin-top: 100px;
}

.footer__col-item {
  margin-bottom: 37px;
}
.footer__col-item:last-child {
  margin: 0;
}

.footer__col-link {
  color: #fff;
  opacity: 0.8;
}
.footer__col-link:hover {
  text-decoration: underline;
}

.footer__email {
  color: #e27b3a;
}

.footer__middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 92px;
}

.footer__logo {
  display: block;
  margin-bottom: 66.5px;
  transition: all 0.3s;
}
.footer__logo:hover {
  scale: 1.1;
}

.footer__socials {
  display: flex;
  justify-content: space-between;
}

.footer__socials-item {
  margin-right: 25px;
  transition: all 0.3s;
}
.footer__socials-item:hover {
  scale: 1.2;
}
.footer__socials-item:last-child {
  margin: 0;
}/*# sourceMappingURL=main.css.map */