.gallery {
  padding-top: 120px;
}
.gallery__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 31px;
}
.gallery__left {
}
.gallery__titlebox {
  h2 {
    margin-bottom: 12px;
  }
  margin-bottom: 26px;
}
.gallert__left-inner {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.gallery__left-img {
  border-radius: 5px;
}
.gallery__right {
}
.gallery__right-img {
  border-radius: 10px;
}
