.titlebox {
  text-align: center;

  h2 {
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    color: $title-color;
  }

  p {
    color: $title-color;
    opacity: 0.6;
  }
}
.title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.4;
  color: $title-color;
}
.tag {
  font-weight: 500;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: $accent-color2;
}
.text {
  color: $title-color;
  opacity: 0.6;
}
